#sums-main-container-area #game-settings-area {
  margin-top: 20px;
}
#sums-main-container-area #game-settings-area .btn-custom {
  margin: 15px;
  width: -webkit-fill-available;
}
#sums-main-container-area #game-settings-area .selectpicker {
  width: -webkit-fill-available;
  height: 60%;
  margin-top: 10px;
  font-size: large;
}

#sums-main-container-area #game-settings-area #sums-time-per-question {
  /*display: -webkit-box;
  width: -webkit-fill-available;*/
  /* height: 125%; */
  /*font-size: x-larger;*/
  /*margin-top: 10px;*/
}
#sums-main-container-area #game-settings-area label {
    /*display: inline-block;
    margin-bottom: .5rem;*/
    height: 100%;
}
